*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom,white,#455362) no-repeat;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #455362;
    margin: 0.1rem 30rem;
    padding:0.2rem 0.3rem 0.2rem 9rem;
    border-radius: 25px;
    animation: move 3.3s ease-in-out infinite reverse;
}
h1{
    text-align: center;
    color: transparent;
    -webkit-background-clip:text;
    background: #B7C9F2;
    background-clip:text;
    height: 1.8rem;
}
svg{
    height: 1.7rem;
    color: red;
}
@keyframes move {
    0%,100%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(1px);
    }
}