<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style/lg.css' %}">
</head>
<body>
    <div class="container">
        <h3>Login Form</h3>
        <form method="post">
            {% csrf_token %}
            {{var}}
            <input id="sub" type="submit" value="Submit">
        </form>
        <!-- ShaikShamir016
        shamir1234 -->
        <a href="#">Forgot password?</a>
        <a href="{% url 'reg' %}">Registration form</a>
    </div>
</body>
</html>